@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Carter One';
}

.fullScreen {
  height: 100vh;
  width: 100vw;
}

/* .heroImage {
  position:'absolute';
              bottom:0;
              borderBottomRightRadius:'2xl';
              right:'0';
              boxSize:{{ base: '400', md: '400', lg: '500', xl: '500' }};
              mt:'16';
              objectFit:'cover';
              alignSelf:'flex-end';
              justifySelf:'self-end';
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
